
html * {
  font-family: monospace;
  margin: 2%;
}

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: left;
}

p {
  font-size: 20px;
}

.textfield {
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 14px;
  background-color: #31664b;
  margin: 2%;
  padding: 10%;
}

.column {
  flex: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.row {
  display: flex;
  ;
}